{% layout "layout.liquid" %}


{% block content %}
<div>
    <h2>All Images</h2>
    <a href="/images/new">Create</a>
    <ul>
    {% for image in images %}
        <li>
            {{ image.title }} - 
            <a href="/images/{{ image.id }}">View</a>
            <a href="/images/{{ image.id }}/delete">Delete</a>
        </li>
    {% endfor %}
    </ul>
</div>
{% endblock %}