<form method="POST" action="/products/{% if product.id %}{{product.id}}{% endif %}">
{% if product.id %}
    <h2>Edit</h2>
{% else %}
    <h2>Create</h2>
{% endif %}
    <div>
        <label>Name: 
            <input type="text" name="name" value="{{product.name}}">
        </label>
    </div>
    <div>
        <label>Price: 
            <input type="number" name="price" value="{{product.price}}" min="0" step="0.01" />
        </label>
    </div>
    <div>
        <input type="submit" value="Submit">
    </div>
</form>